.custom-dropdown .dropdown-content li>a,
.custom-dropdown .dropdown-content li>span {
    color: #f65261;
}

.black-background {
    background-color: #262525;
}

@media (min-width: 1501px) {
    .xxl {
        width: 17.5% !important;
        margin-left: 1.25% !important;
        margin-right: 1.25% !important;
    }
}

body {
    font-family: "Montserrat", sans-serif;
}